In [24]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori#it is use to make use of apriori algorithm

dataset=[['Bread','Milk','Beer'],
          ['Bread','Diapers','Eggs'],
          ['Milk','Diapers','Beer','Cola'],
          ['Bread','Milk','Diapers','Beer'],
          ['Bread','Milk','Cola']]

In [25]:
te=TransactionEncoder()#create first instance
te=te.fit(dataset)#fit it in table
te_ary=te.transform(dataset)#creates table
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [26]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [27]:
frequency_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequency_itemsets

   support       itemsets
0      0.6         [Beer]
1      0.8        [Bread]
2      0.6      [Diapers]
3      0.8         [Milk]
4      0.6   [Beer, Milk]
5      0.6  [Bread, Milk]

In [82]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequency_itemsets,metric='support',min_threshold=0.5)
rules
#ante already bought i.e. first element
#cons reccomendation i.e. second element

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [83]:
rules[rules['support']==rules['support'].max()]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [84]:
type(rules['antecedants'][0])#it is a datatype which is same as set hence operations on set are applicable on frozenset

frozenset

In [85]:
type(rules['consequents'][0])

frozenset

In [86]:
type(rules['antecedent support'][0])

numpy.float64

In [87]:
a=['Bread','Milk','Beer','Bread','Eggs',"Cola"]
b=set(a)
b

{'Beer', 'Bread', 'Cola', 'Eggs', 'Milk'}

In [88]:
type(b)

set

In [89]:
c=['Bread','Milk','Beer','Sprite']
d=set(c)

In [90]:
d.issubset(b)

False

In [91]:
d^b  #symmetric difference

{'Cola', 'Eggs', 'Sprite'}

In [92]:
b-d

{'Cola', 'Eggs'}

In [93]:
rules[(rules['antecedants']=={'Milk'})]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [99]:
rules[rules['antecedants'].apply(lambda each_antecedants:{'Milk'}.issubset(set(each_antecedants)))]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8